.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 64px;
  padding: 0 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);

  z-index: 1000;
}

.nav-left {
  font-size: 20px;
  font-weight: 700;
}

.nav-right {
  display: flex;
  gap: 10px;
}

.logout-btn {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  background: #ef4444;
  color: white;
  cursor: pointer;
}
